/*.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
} */

.navbar {
    background-color: transparent;
    margin-left: auto;
    min-height: 50px;
}

  
  .notification-wrapper {
    position: relative;
    padding: 8px 15px;
    float: right;
    border-radius: 5px;
  }
  
  .notification-wrapper .notification-btn {
    color: #ffffff;
    cursor: pointer;
  }
  
  .notification-wrapper .notification-btn:hover {
    color: royalblue;
    padding: 1px;
    background-color: #ffffff;
    border-radius: 500px;
  }
  
  .notification-wrapper .notification-content {
    position: absolute;
    top: 40px;
    right: 5px;
    width: 350px;
    height: 200px;
    background-color: whitesmoke;
    z-index: 300;
  }
  
  .notification-wrapper .notification-header {
    padding: 10px;
    color: #ffffff;
    background-color: royalblue;
  }
  
  .notification-wrapper .notification-header .label {
    display: inline-block;
    width: 90%;
    text-align: center;
    font-weight: 500;
  }
  

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
.stylelogo :hover, .stylelogo :focus{
/* color:#fff;
         border:transparent;
         font-weight: 550;cursor: pointer;-webkit-font-smoothing: antialiased;text-decoration: none; */
         /* text-decoration: underline; */
         outline: 0;
}