<!-- <p style=" font-weight: 600;    margin: 10px 0 24px;font-family: Raleway;font-size: 30px;color: #263246;text-align: center;">gestion works!</p> -->
<div >

    <section>
        <div class="h">
            <div class="main-content">
                <div class="page-header clear-filter">
                    <div style="background-color: rgba(78, 69, 69, 0.979); ">
                        <app-navbar></app-navbar>
                    </div>
                    <div class="main-content">
                        <div style="margin-top: 20px" ></div>
                        <div
                            style="  font-weight: 600;font-family: Raleway;font-size: 22px;color: #202122;text-align: center;">

                            <div 
                                style=" font-weight: 600;    margin: 10px 0 24px;font-family: Raleway;font-size: 22px;color: #202122;text-align: center;">
                                Bienvenue Dans L'espace Administratif
                            </div>
                  
                           
                            <div class="row" style="margin-top: 50px; margin-left: 510px;">
                                <!-- margin-left: 10px; margin-right: 10px;-->

                                <div class="col-md-3 ml-auto mr-3 ">
                                    <div class="card  ">
                                        <a routerLink="/Users" class="e card-link" style="-webkit-font-smoothing: antialiased;text-decoration: none; color: #202122;
                            float: right;font-family: Montserrat,sans-serif!important;
                            line-height: 32px;text-overflow: ellipsis; white-space: nowrap;">

                                            <div class="  card-body">

                                                <img src="https://img.icons8.com/ios/96/000000/groups.png" />

                                                <br>
                                                Utilisateurs
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <div class="col-md-3 ml-3 mr-auto ">
                                    <div class="card  ">
                                        <a routerLink="/Categories" class="e card-link" style="-webkit-font-smoothing: antialiased;text-decoration: none; color: #202122;
                            float: right;font-family: Montserrat,sans-serif!important;
                            line-height: 32px;text-overflow: ellipsis; white-space: nowrap;">

                                            <div class="  card-body">
                                                <img src="https://img.icons8.com/ios/2x/categorize.png" />
                                             
                                                <br>
                                                Categories
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-left: 510px;">

                                <div class="col-md-3 ml-auto mr-3 ">
                                    <div class="card  ">
                                        <a routerLink="/Questions" class="e card-link" style="-webkit-font-smoothing: antialiased;text-decoration: none; color: #202122;
                            float: right;font-family: Montserrat,sans-serif!important;
                            line-height: 32px;text-overflow: ellipsis; white-space: nowrap;">

                                            <div class="  card-body">
                                                <img src="https://img.icons8.com/ios/2x/questions.png" />
                                        
                                                <br>
                                                Questions
                                            </div>
                                        </a>
                                    </div>
                                </div>


                                <div class="col-md-3 ml-3 mr-auto ">
                                    <div class="card  ">
                                        <a routerLink="/Reponses" class="e card-link" style="-webkit-font-smoothing: antialiased;text-decoration: none; color: #202122;
                            float: right;font-family: Montserrat,sans-serif!important;
                            line-height: 32px;text-overflow: ellipsis; white-space: nowrap;">

                                            <div class="  card-body">
                                                <img
                                                    src="https://img.icons8.com/ios/2x/reply.png" />
                                                <br>
                                               Réponses
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div style="color: black;">
                        
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>