<section>
    <div class="h">
        <div class="main-content">
            <div class="page-header clear-filter">
             
                <app-navbar></app-navbar>
                <div>

                    <form (ngSubmit)="save(f)" #f="ngForm">

                        <div class="card">

                            <div class="card-header ">
                                <br>
                                <h4 class="card-title" style="color: #413e3e; font-size: x-large ;">Ajouter Categorie</h4>
                            </div>
                            <br>
                            <div class="card-body ">

                                <div class="row">
                                    
                                </div>
                        
                                <div class="col-md-5 pr-1">
                                <div class="form-group has-label">
                                    <label for="nom" > Categorie </label>
                                    <input type="text"
                                        placeholder="Ajouter Categorie" 
                                        class="form-control"
                                        id="nom"
                                        ngModel
                                        name="nom"
                                        required
                                        #text="ngModel"
                                        [ngClass]="{'is-invalid': text.invalid && (text.dirty || text.touched)}
                                    && {'is-valid': text.valid && (text.dirty || text.touched)
                                    }"/>
                                   
                                </div></div>
                            </div>

                            <div class="card-footer text-right">
                                <button [disabled]="!f.valid" class="btn" style="background-color: #bb407e;">Submit</button>
                            </div>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  
</section>